<%= form_for(current_user.invites.build(attendee_event_id: @evento.id)) do |f| %>
  <div><%= f.hidden_field :attendee_event_id %></div>
  <%= f.submit "Confirmar Presença", class: "btn btn-large btn-primary" %>
<% end %>