<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<button><a type="button" href='/users/sign_in' id='sign_in'>sign_in</a></button>

<button><a type="button" href='/users/sign_up' id='sign_up'>sign_up</a></button>