<!DOCTYPE html>
<head>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<div class="body-wrapper">
  <div class="navbar basic default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> <a class="navbar-brand" href="/"><img src="assets/logo@2x.png" data-at2x="assets/logo@2x.png" alt="" /></a> </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
						<li><a href="/">Início</a></li>
						<li><a href="/eventos">Eventos</a></li>
						<li><a href="/messages">Mensagens</a></li>
						<li><a href="/team">Equipe</a></li>
						<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%=current_user.email %> <i class="fa fa-chevron-down"></i></a>
              <ul class="dropdown-menu">
								<li><a href="/users/edit">Edit Profile</a></li>
								<li><a href="/users/sign_out">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
  <!--/.navbar -->
  <div class="offset" style='padding-top: 140px;'></div>

</body>
